
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}


body {
    background-color: #e8f5ff;
    font-family: Arial;
    overflow: hidden;
    overflow-y: scroll;

}

/* Navbar*/





::-webkit-scrollbar {
    display: none;
}

/*Header*/

header{
    width: 100vw;
    height: 15vh;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.81);
}

/*Header - logo*/
.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.logo img{
    width: 6em;
}

.logo h1{
    font-size: clamp(1.5em, 2vw, 3em);
}

/*Header nav-bar*/
.nav-label, #menu{
    display: none;
}

.menu, .footer-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1em;
}

.menu li a, button, .footer-links ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    margin-right: 2.5em;
    letter-spacing: 0.06em;
    font-size: clamp(1em, 1.5vw, 1em);
}

.menu li a:after{
    content: "";
    position: absolute;
    background-color: #6BD9EC;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -9px;
    transition: 0.5s;
}

.menu li a:hover:after, .footer-links ul li a:hover:after{
    width: 100%;
}


.menu button{
   margin-right: 1em;
}

.menu button{
    background-color: #6BD9EC;
    padding: 0.5em 0.7em;
    border-radius: 2em;
    color: black;
    border: none;
    font-size: clamp(1em, 1.5vw, 1em);
    font-family: 'Poppins', sans-serif;
}

.menu button a{
    text-decoration: none;
    color: black;
}

.menu button:hover{
    transition: 0.3s ease-in;
    cursor: pointer;
    outline: 3px solid #6BD9EC;
    background-color: rgba(85, 85, 85, 0.4);
    color: #6BD9EC;
}

.menu button a:hover{
    color: #6BD9EC;
}


.menu-responsive, #check{
    display: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

/* End */

.name-rol{
    position: absolute;
    right: 130px;
    top: 30px;
    width: 100px;
}


/* Sidenav */
.sidenav {
    background-color: #fff;
    color: #333;
    border-bottom-right-radius: 25px;
    height: 86%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
    width: 250px;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}



.url, hr {
    text-align: center;
}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e8f5ff;
    border-radius: 10px;
    color: #000;
    
}

/* End */

/* Main */
.main {
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;

}

.title-options{

    font-size: 12px;
}

.checkbox-pets{
    margin-left: 3px;
    padding-left: 3px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
    margin-top: 80px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
    
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

.card-body{
    text-align: center;
}

/* End */
 
 /* Ver cards*/


 .watch-cards{
    font-size: 14px;
    text-align: center;
    padding: 10px;
    

 }

 .watch-cards a{
text-decoration: none;
color: #0082e6;
 }


 .watch-cards a:hover{
    color:#2c3e50;
 }
/*end*/


@media (max-width:850px){
.header{
    width: 110vw;}

    .menu-responsive{
        display: block;
        position: absolute;
        left: 80%;
      }
      ul{
          display: grid;
          position: fixed;
          width: 100%;
          height: auto;
          background: #2c3e50;
          top: 15vh;
          left: -100%;
          text-align: center;
          transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.activa{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }
    
      .menu button{
        display: none;
      }
    
    
      #check:checked ~ ul {
        left: 0;
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        align-items: center;
        height: auto;
        position: absolute;
        
    }
    
    .sidenav {
        display: contents;
    }

    header{
    width: 110vw;
    }

    .main{
        display: contents;
    }


    .fa-pen:before{
        display: none;
    }

    
.card-body{
    text-align: center;
    display: contents;
}

.main .card {
    margin-top: 40px;
    width: auto;
}

.menu, .footer-links ul{
    display: grid;
    justify-content: center;
    list-style: none;
    font-size: 1em;
}

}

@media (max-width:1000px){
    

    .main .card{ 
        margin-top: 0px;


    }

   
}

@media (max-height: 700px) {
    .card{
        overflow-y: scroll;
        overflow-x: scroll;
    }
  }
