@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



li, a, .inicio{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #24252A;
    flex-direction: row;
    position: relative;

}


.logo{
    cursor: pointer;
    width: 150px;
    height:150px;
    float: left;
    margin-right: 60px;
    left: 0;

}

nav{
    order: 1;
}


.nav__links{
    list-style: none;
}

.nav__links li:nth-child(1){
  padding: 0 20px 0 0;

}


.nav__links li{
display: inline-block;
padding: 0 20px;
}


.nav__links li a{
    transition: all 0.3s ease 0s;

}

.nav__links li a:hover{
    color: #0088a9;
}

.cta{
    order:1;
   
}


.inicio{
    margin-left: 20px;
    margin-right: 5px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.problema, .menucito,#check {
    display: none;
}

@media (max-width: 858px){
    .menucito{
      display: block;
    }
    ul{
        display: grid;
        position: fixed;
        width: 100%;
        height: 90vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.activa{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  
}