.perrito{
    height: 400px;
    width: 400px;
    position: absolute;
    margin: 32px;
   
}

.perrito img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .perrito {
    display:none;
    }
    }
    