@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    display: none;
}


/*Header*/

header{
    width: 100vw;
    height: 15vh;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.81);
}


/*ocultar*/

.menu-responsive, #check{
    display: none;
}


/*Header - logo*/
.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.logo img{
    width: 6em;
}

.logo h1{
    font-size: clamp(1.5em, 2vw, 3em);
}

/*Header nav-bar*/
.nav-label, #menu{
    display: none;
}

.menu, .footer-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1em;
}

.menu li a, button, .footer-links ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    margin-right: 2.5em;
    letter-spacing: 0.06em;
    font-size: clamp(1em, 1.5vw, 1em);
}

.menu li a:after{
    content: "";
    position: absolute;
    background-color: #6BD9EC;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -9px;
    transition: 0.5s;
}

.menu li a:hover:after, .footer-links ul li a:hover:after{
    width: 100%;
}


.menu button{
   margin-right: 1em;
}

.menu button{
    background-color: #6BD9EC;
    padding: 0.5em 0.7em;
    border-radius: 2em;
    color: black;
    border: none;
    font-size: clamp(1em, 1.5vw, 1em);
    font-family: 'Poppins', sans-serif;
}

.menu button a{
    text-decoration: none;
    color: black;
}

.menu button:hover{
    transition: 0.3s ease-in;
    cursor: pointer;
    outline: 3px solid #6BD9EC;
    background-color: rgba(85, 85, 85, 0.4);
    color: #6BD9EC;
}

.menu button a:hover{
    color: #6BD9EC;
}


body{
    font-family: 'Poppins', sans-serif;
}

.titulo{
   text-align: center;
   margin-top: 10px;
   letter-spacing: 1px;
   
}

.images-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    padding: 10px;

    
}

.image-menu img{
    width: 250px;
    height: 250px;
    justify-content: space-around;
    border-radius: 100%;
}


.titulin{
    color: #000;
}


.chequear {
    padding:30px
     ;
}
.select{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    
    margin-right: 6px;
}

.option-regis{
    color: #4070f4;
}

.option-regis:hover{
    color: #000;
}

.forma {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
   
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    left: 45%;
  }


  .botones{
    background: #000;
    color: #fff;
    border: none;
  }
  .botones:hover {
     background: rgb(109, 120, 190);
     color: #000;
  }


  @media (max-width:850px){



    .images-conts{
        display: flex;
        flex-wrap: wrap;
        position: static;
        justify-content: space-around;
        align-content: center;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        padding: 10px;
    
        
    }



    .image-menu img{
        width: 100px;
        height: 100px;
        justify-content: space-around;
        border-radius: 100%;
    }
    



    .forma{

        margin: 8pc;
        position: inherit;
    }
        
    .menu-responsive{
        display: block;
      }
      ul{
          display: grid;
          position: fixed;
          width: 100%;
          height: auto;
          background: #2c3e50;
          top: 15vh;
          left: -100%;
          text-align: center;
          transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.activa{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }

      .menu button{
        display: none;
      }
      #check:checked ~ ul {
        left: 0;
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        align-items: center;
        height: auto;
  }



    }
  